<html>
<title>layout</title>
<head>
<link rel="stylesheet" href="css/style.css">

</head>
<body>
<section class="container" style="border:1px solid black;" >
    <header class="header">
	<nav>
	<div class="topnav">
	</div>
	</nav>
	</header>
	<div class="home">
	    <div class="hello">
		</div>
	</div>
	<div class="logo">
	    <div class="logo1">1</div>
		<div class="logo2">2</div>
		<div class="logo3">3</div>
		<div class="logo4">4</div>
		<div class="logo5">5</div>
		<div class="logo6">6</div>
	</div>	
	<div class="image">
	</div>
	
	    <div class="sec2">
        </div>
	    <div class="icon1">
		    <div class="icon1img">
			</div>
	    </div>
	    <div class="icon2">
		    <div class="icon2img">
			</div>
	    </div>
	<div class="sec3">
	  
    </div>	
	<div class="sec4">
	</div>
	<div class="row">
	    <div class="d1">
	    </div>
		<div class="d2">
		</div>
		<div class="d3">
		</div>
	</div>
	<div class="row1">
	    <div class="d4">
		</div>
		<div class="d5">
		</div>
		<div class="d6">
		</div>
	</div>
	<div class="call">
	</div>
	<div class="testimonial">
	</div>
	<div class="tm">
	    <div class="tm1">
		</div>
		<div class="tm2">
		</div>
		<div class="tm3">
		</div>
	</div>
	<div class="port">
	</div>
	<div class="portimg">
	    <div class="pt1">
		</div>
		<div class="pt2">
		</div>
		<div class="pt3">
		</div> 
	</div>
	<div class="portimg2">
	    <div class="pt4">
		</div>
		<div class="pt5">
		</div>
		<div class="pt6">
		</div> 
	</div>
	<div class="portimg3">
	    <div class="pt7">
		</div>
		<div class="pt8">
		</div>
		<div class="pt9">
		</div> 
	</div>
	<div class="team">
	</div>
	<div class="timg">
	    <div class="team1">
		</div>
		<div class="team2">
		</div>
		<div class="team3">
		</div>
		<div class="team4">
		</div>
	</div>
	<div class="free">
	     <div class="pricing">
		    <div class="hp">
			</div>
		 </div>
		 <div class="buy">
		    <div class="free1">
		    </div>
		    <div class="business">
            </div>
		    <div class="developer">
		    </div>
		   <div class="ultimate">
		   </div>
	</div>
		</div>
		<div class="faques">
            <div class="ques">
            </div>	
           <div class="faq">
           </div> 	
        </div>	
		<div class="contact">
		    <div class="para">
			</div>
			<div class="address">
			    <div class="ouraddress">
				<div>
				<div class="email">
				</div>
				<div class="callus">
				</div>
				
			</div>
			<div class="form">
			</div>
		</div>
	</div>
    <div class="links">
		    <div class="b1">
			</div>
			<div class="b2">
			</div>
			<div class="b3">
			</div>
			<div class="b4">
			</div>
	</div>
        <footer class="footer">
		</footer>	
	
		
</section>
    

</body>